@font-face {
    font-family: 'Press Gothic Pro';
    src: url('fonts/PressGothicPro.eot');
    src: url('fonts/PressGothicPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/PressGothicPro.woff2') format('woff2'),
        url('fonts/PressGothicPro.woff') format('woff'),
        url('fonts/PressGothicPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Scada';
    src: url('fonts/Scada.eot');
    src: url('fonts/Scada.eot?#iefix') format('embedded-opentype'),
        url('fonts/Scada.woff2') format('woff2'),
        url('fonts/Scada.woff') format('woff'),
        url('fonts/Scada.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}