@import url('font.css');

*{
	padding: 0;
	margin: 0;
}

body {
	background: url(../img/p.jpg) #323242 no-repeat center top fixed;
	background-size: cover;
}

a {
    color: #ffffff;
    text-decoration: none;
   }
a:visited {
    color: #ffffff;
   }
a:active {
    color: #ffffff;
   }
h1 {
    font-family: 'Press Gothic Pro', sans-serif;
   }
.info {
	display: inline-block;
	height: auto;
	width: auto;
	background: rgba(0, 0, 0, .9);
	margin: 40px 65%;
	padding: 35px;
	position: fixed;
}
.header {
	color: #FFF;
    text-align:justify;
	font: 44.5px 'Press Gothic Pro', sans-serif;
}
.upperbanner{
	width: auto;
	height: 25px;
}
.lowerbanner
{
	width: auto;
	height: 150px;
}
.links{
	text-align: left;
	font: 18px 'Scada', sans-serif;
}