*{
	padding: 0;
	margin: 0;
}

body {
	
	background: url(../img/p.jpg) #373c5b no-repeat center top fixed;
	background-size: cover;
}



.info {
	color: #FFF;
	height: auto;
	display: inline-block;
	width: 387px;
	background: rgba(0, 0, 0, .9);
	margin: 40px 65%;
	padding: 15px;
	text-align: left;
}